{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "pages": "./src/pages",
                    "assets": "./src/assets",
                    "components": "./src/components"
                }
            }
        ]
    ]
}