{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "pages": "./src/pages",
                    "assets": "./src/assets",
                    "components": "./src/components",
                    "routes": "./src/routes",
                    "interfaces": "./src/interfaces",
                    "axios-config": "./src/axios-config",
                    "contexts": "./src/contexts",
                    "utils": "./src/utils"
                }
            }
        ]
    ]
}